html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0px;
    background-color:brown;
}
#containeir{
    height: 100%;
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;

}
    #topo{
        height: 20%;
        width: 100%;
        background-color: rgb(51, 53, 53);
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }.botaon{
        height: 20%;
        width: 10%;
        background-color: rgb(0, 255, 255);
        color: rgb(48, 0, 219);
        border: solid 1px  rgb(255, 255, 255); 
        border-radius: 25px ;
    }.botaon:hover{
        height: 20%;
        width: 10%;
        background-color: rgb(48, 0, 219);
        color: rgb(12, 218, 245);
        transform: scale(1); 
        transition: 0,5s ;
    }
#meio{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;

}#cadastroMeio{
    height: 40%;
    width: 40%;
    background-color: rgb(153, 153, 153);
    border-radius: 30px;
    display: none;
    
}#btnCadastro{
    height: 20%;
    width: 35%;
    background-color: rgb(0, 255, 255);
    color: rgb(48, 0, 219);
    border: solid 1px  rgb(255, 255, 255); 
    border-radius: 25px ;

}#btnCadastro:hover{
    height: 20%;
    width: 25%;
    background-color: rgb(48, 0, 219);
    color: rgb(12, 218, 245);
    transform: scale(1); 
    transition: 0,5s ;

}#logMeio{

    height: 40%;
    width: 40%;
    background-color: rgb(153, 153, 153);
    border-radius: 30px;


}
#btnLog{

    height: 20%;
    width: 35%;
    background-color: rgb(0, 255, 255);
    color: rgb(48, 0, 219);
    border: solid 1px  rgb(255, 255, 255); 
    border-radius: 25px ;

}#btnLog:hover{

    height: 20%;
    width: 10%;
    background-color: rgb(48, 0, 219);
    color: rgb(12, 218, 245);
    transform: scale(1); 
    transition: 0,5s ;


}

